<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="https://image.flaticon.com/icons/png/512/23/23931.png">
        <meta name="description" content="">
        <meta name="author" content="Lukas Drukteinis">
        <title>Twitter Tool</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
        </style>

        <link href="./static/custom.css" rel="stylesheet">

    </head>
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" id="app">
            <header class="masthead mb-auto">
                <div class="inner">
                <h3 class="masthead-brand">Twitter Tool</h3>
                <nav class="nav nav-masthead justify-content-center">

                    <a v-if="pageType" class="nav-link active" href="/">Home</a>
                    <a v-else class="nav-link" href="/">Home</a>

                    <a v-if="pageType" class="nav-link" href="/about">About</a>
                    <a v-else class="nav-link active" href="/about">About</a>
 
                </nav>
                </div>
            </header>

            {% block content%}
            {% endblock%}

            {% include 'includes/_footer.html' %}

        </div>

    {% block scripts %} {% endblock%}

    </body>
</html>
